@font-face {
    font-family: 'JetBrainsMono-Regular';
    src: url('./res/font/JetBrainsMono-Regular.ttf');
}

@font-face {
    font-family: "file-icons";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/npm/@exuanbo/file-icons-js@latest/fonts/file-icons.woff2") format("woff2");
}

.App {
    position: relative;
    height: 100%;
    width: 100%;

    font-family: 'JetBrainsMono-Regular';
    background-color: rgb(188, 218, 208);
}

.file {
    padding: 0px 5px !important;
    cursor: pointer;
}

.selectedFile {
    background-color: rgb(89, 175, 230);
}

.progressContainer {
    position: absolute;
    top: 97px;
    right: -205px;
    border-left: 1px solid rgba(34,36,38,.15);
}

.opeartionProgress {
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
    position: relative;
    width: 200px;
    margin-left: 5px;
    padding: 3px;
    background-color: white;
    box-shadow: 0px 0px 3px rgb(116, 153, 141);
    border-radius: 5px;
}